* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 375px;
  height: 832px;
  background-color: #bdf7b6;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
}

.main-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 5px;
  margin-bottom: 25px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.item span {
  font-size: 22px;
  font-weight: 600;
  color: #111;
}

.back-btn {
  align-self: flex-start;
  background-color: #1c5b8b;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
  transition: 0.3s;
  text-decoration: none;
}

.back-btn:hover {
  background-color: #174a73;
}
